/*特效：滑鼠移至圖片時突放大*/
/*大頭貼背面有聯絡資訊*/
/*nav書籤效果*/
/*各項能力條(動態)*/
/*圖示*/
* {
    box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #8DA9C4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*----------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

h1 {
    font-size: 2.2em;
}

/*大頭貼背面有聯絡資訊*/
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 275px;
    height: 275px;


    >.front,
    >.back {
        display: block;
        color: white;
        width: inherit;
        height: inherit;
        background-size: cover !important;
        background-position: center !important;
        padding: 1em 2em;
        background: #313131;
        border-radius: 50%;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);

        line-height: 150%;
        color: white;
        font-family: "LXGW WenKai Mono TC", monospace;
        text-align: center;
        font-size: 20px;

    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}


.flip {

    >.front,
    >.back {
        p {
            font-size: 0.9125rem;
            line-height: 160%;
            color: #999;
        }
    }
}


header {
    background-image: url('../img/sky.jpg');
    background-size: cover;
    color: black;
    font-family: "Arima", system-ui;
    text-align: center;
    height: 150px;
    position: relative;
}

header h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 50px;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: bolder;

}

.atxt {
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;
    background-color: #13315C;
    border-radius: 25px;
}

.txt {
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    min-width: fit-content;
    text-wrap: nowrap;
}

.bigtxt {
    line-height: 150%;
    letter-spacing: 3px;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-weight: bolder;
}

.li-txt {
    line-height: 250%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: left;
    letter-spacing: 3px;
    font-size: 25px;
    min-width: fit-content;
    text-wrap: nowrap;
}

nav {
    background-color: #8DA9C4;
    font-family: Arial;
    text-align: right;
}

nav a {
    color: white;
    padding: 10px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #cda8b8;
    color: yellow;
    transform: scale(1.2);
}

.color1 {
    background-color: #13315C;
    border-radius: 25px;
}

.color2 {
    background-color: #0B2545;
    border-radius: 25px;
}

.color3 {
    background-color: #134074;
    border-radius: 25px;
}

.color4 {
    background-color: #405A77;
    border-radius: 25px;
}

.color5 {
    background-color: #16325C;
    border-radius: 25px;
}

.color6 {
    background-color: #38649F;
    border-radius: 25px;
}



.card {
    padding: 10px;
    border-radius: 25px;
    background-color: #8DA9C4;
    background-size: cover;
}


.card1 {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 25px;
    background-color: #8DA9C4;
    background-size: cover;
    flex: 1 1 0%;
}



footer {
    background-color: #0D1B2A;
    color: white;
    text-align: center;
    padding: 5px;
}

main {
    padding: 5px;
    float: left;
    width: 100%;
}

/*滑鼠移至時突放大*/

div {
    text-align: left;
    margin: 10px;
    break-inside: avoid;
}

.div-skills-column {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.div-skills-box1,
.div-skills-box2 {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15%;
}

.image1 {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
}

.box {
    overflow: hidden;
    width: fit-content;
}

.box:hover img {
    transform: scale(1.2);
}

aside {
    float: left;
    width: 20%;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
}

aside:hover img {
    transform: scale(1.2);
    /*滑鼠移至大頭貼時突放大*/
}


.card-testing {
    background-color: #13315C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    position: relative;

}

.card-testing .card-testing-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-items: center;
    align-items: start;
}

.card-testing .card-testing-box p {
    margin: 0;
    line-height: 300%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;

}

.card-testing .card-testing-box a {
    text-align: center;
    margin: auto;

}

.card-title {
    line-height: 150%;
    letter-spacing: 3px;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-weight: bolder;
    background-color: #0B2545;
    padding: 10px 25px;
    border-radius: 50px;
    margin: fit-content;
    font-size: larger;
}

.card-title1 {
    line-height: 150%;
    letter-spacing: 3px;
    position: absolute;
    left: 0;
    top: -60px;
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-weight: bolder;
    background-color: #16325C;
    padding: 10px 25px;
    border-radius: 50px;
    margin: fit-content;
    font-size: larger;
}

.card-title2 {
    line-height: 150%;
    letter-spacing: 3px;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-weight: bolder;
    background-color: #134074;
    padding: 10px 25px;
    border-radius: 50px;
    width: fit-content;
    font-size: larger;
}

.card-title3 {
    line-height: 150%;
    letter-spacing: 3px;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-weight: bolder;
    background-color: #38649F;
    padding: 10px 25px;
    border-radius: 50px;
    width: fit-content;
    font-size: larger;
}


.card1 {
    padding: 10px;
    border-radius: 25px;
    background-color: #8DA9C4;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.card-skill {
    background-color: #0B2545;
    border-radius: 25px;
    width: 100%;
}

.card-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #134074;
    border-radius: 25px;
    width: 100%;
}

.card-exp-box .img-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: auto;
    width: 50%;
}

.card-exp-box .paragraph-column {

    width: 50%;
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;

}

.card-exp .card-exp-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-exp1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #405A77;
    border-radius: 25px;
    width: 100%;
}

.card-exp1 .img-column1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: auto;
    width: 50%;
}

.card-exp1-box .paragraph-column {
    width: 50%;
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;

}

.card-exp1 .card-exp1-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-exp2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16325C;
    border-radius: 25px;
    width: 100%;
}

.card-exp2 .img-column2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: auto;
    width: 50%;
}

.card-exp2-box .paragraph-column {
    width: 50%;
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;

}

.card-exp2 .card-exp2-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-exp3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #38649F;
    border-radius: 25px;
    width: 100%;
}

.card-exp3 .img-column3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: auto;
    width: 50%;
}

.card-exp3-box .paragraph-column {
    width: 50%;
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;

}

.card-exp3 .card-exp3-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clearfix {
    clear: both;
}


/*長條型-各項能力條(動態)*/
.skill-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;
    gap: 5%;
}

.skill-line1,
.skill-line2,
.skill-line3,
.skill-line4,
.skill-line5 {
    display: flex;
    background-color: rgb(241, 36, 36);
    height: 10px;
    width: 600px;
    border-radius: 10px;
}

.skill-line1::after {
    content: "";
    display: flex;
    background-color: hsl(70, 97%, 53%);
    height: 10px;
    border-radius: 10px;
    animation: line1-percentage 2s ease;
    animation-fill-mode: forwards;
}

@keyframes line1-percentage {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }

}

.skill-line2::after {
    content: "";
    display: flex;
    background-color: hsl(70, 97%, 53%);
    height: 10px;
    border-radius: 10px;
    animation: line2-percentage 2s ease;
    animation-fill-mode: forwards;
}

@keyframes line2-percentage {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }

}

.skill-line3::after {
    content: "";
    display: flex;
    background-color: hsl(70, 97%, 53%);
    height: 10px;
    border-radius: 10px;
    animation: line3-percentage 2s ease;
    animation-fill-mode: forwards;
}

@keyframes line3-percentage {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }

}

.skill-line4::after {
    content: "";
    display: flex;
    background-color: hsl(70, 97%, 53%);
    height: 10px;
    border-radius: 10px;
    animation: line4-percentage 2s ease;
    animation-fill-mode: forwards;
}

@keyframes line4-percentage {
    0% {
        width: 0%;
    }

    100% {
        width: 88%;
    }

}

.skill-line5::after {
    content: "";
    display: flex;
    background-color: hsl(70, 97%, 53%);
    height: 10px;
    border-radius: 10px;
    animation: line5-percentage 2s ease;
    animation-fill-mode: forwards;
}

@keyframes line5-percentage {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }

}

/*圓圈型-各項能力(動態)*/
.skill-bar-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #0B2545;
    border-radius: 50%;
    line-height: 150%;
    color: white;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 25px;
}

.skill-bar1::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(17, 42, 142);
    z-index: 1;
}

.skill-bar2::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(17, 42, 142);
    z-index: 1;
}

.skill-bar3::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(17, 42, 142);
    z-index: 1;
}

.skill-bar4::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(17, 42, 142);
    z-index: 1;
}

.skill-bar1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fillProgress1 1.5s ease forwards;
    position: relative
}

.content1 {
    position: absolute;
    text-align: center;
    z-index: 2;
}

@keyframes fillProgress1 {
    0% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 0%, rgb(169, 169, 169) 0% 100%);
    }

    100% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 80%, rgb(169, 169, 169) 80% 100%);
    }
}

.skill-bar2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fillProgress2 1.5s ease forwards;
    position: relative
}

.content2 {
    position: absolute;
    text-align: center;
    z-index: 2;
}

@keyframes fillProgress2 {
    0% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 0%, rgb(169, 169, 169) 0% 100%);
    }

    100% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 60%, rgb(169, 169, 169) 60% 100%);
    }
}

.skill-bar3 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fillProgress3 1.5s ease forwards;
    position: relative
}

.content3 {
    position: absolute;
    text-align: center;
    z-index: 2;
}

@keyframes fillProgress3 {
    0% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 0%, rgb(169, 169, 169) 0% 100%);
    }

    100% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 90%, rgb(169, 169, 169) 90% 100%);
    }
}

.skill-bar4 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fillProgress4 1.5s ease forwards;
    position: relative
}

.content4 {
    position: absolute;
    text-align: center;
    z-index: 2;
}

@keyframes fillProgress4 {
    0% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 0%, rgb(169, 169, 169) 0% 100%);
    }

    100% {
        background: conic-gradient(hsl(70, 97%, 53%) 0% 70%, rgb(169, 169, 169) 70% 100%);
    }
}